<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Chez Dandangi Reservations App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Page not found</h1>
            <p>
                <a class="btn btn-lg btn-success" href="/" role="button">Go Home</a>
            </p>
        </div>
    </div>
 
</body>
 
</html>